body {
    text-align: center;
}

img {
    display: block;
    margin: 20px;
}

img.logo {
    width: 10%;
}

img.miasto {
    width: 30%
}

p {
    width: 75%;
}

p.info {
    text-align: left;
    width: 200%;
}

h3, ol {
    text-align: left;
}

ul.list_menu {
    list-style-type: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


p[id="pierwszy"] {
    background-color: red;
    margin-left: 12.5%;
    margin-right: 12.5%;
}

p[id="drugi"] {
    background-color: aqua;
}

p[id="trzeci"] {
    background-color: lightgreen;
    width: 200px;
    top: 51px;
    left: 1000px;
    position: absolute;
}

div {
    position: relative;
}

table {
    font-weight: lighter;
    border: double;
    text-align: left;
}

th {
    border: solid;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

td {
    border: groove;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.delay {
    font-weight: bold;
}

.delay[id="cancelled"] {
    color: red;
}

.delay[id="huge"] {
    color: orange;
}

.delay[id="small"] {
    color: yellow;
}

footer {
    background-color: aliceblue;
    color: green;
    font-family: sans-serif;
    font-size: 30px;
    width: 50%;
}

:link, :visited {
    color: blue;
    text-transform: capitalize;
    text-decoration: none;
}

@media screen and (max-width: 400px) {
    div[id="zdjecia"], div[id="pogoda"] {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns: [menu] 100px [menu-end] 15px [central side] 4fr [central-end] 15px;
    }
}

@media screen and (min-width: 1200px) {
    .grid-container {
        display: grid;
        grid-template-columns: [menu] 200px [menu-end] 15px [central] 3fr [central-end] 15px [side] 1fr;
    }
}

.formularz {
    text-align: left;
}

.passenger {
    position: relative;
}

.passenger .miejsce {
    display: none;
}

.passenger:hover .miejsce {
    display: block;
    position: absolute;
    top: 0px;
    left: 200px;
}

li:nth-child(even) {
    background-color: lightblue;
}

li:nth-child(odd) {
    background-color: lightgreen;
}

.powodzenie {
    position: fixed;
    left: 5%;
    top: 5%;
    opacity: 90%;
    background-color: gray;
    width: 90%;
    height: 90vh;
}

#success {
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
    padding-top: 35vh;
}